
        <"< USER AVATAR>">
  <div class="col-md-4">
        "<%= @user.name %>'s"<br>
        photos 
    <div class="row">
      <% @user.photos.each do |photo| %>
        <a href="/photos/<%= photo.id %>" class="thumbnail">
          <img src="<%= photo.file %>">
        </a>
      <% end %>
    </div>
  </div>
 