<div class="row">
  <div class="col-md-2"></div>
  <div class="col-xs-6 col-md-3">
    <span class="thumbnail">
      <img src="<%= @photo.image.url(:medium) %>">
    </span>
    <class= "btn btn-default btn-lg" role="button">
      <i class="icon-heart"></i> Vote
    </button>
  </div>
  <div class="col-md-4">
        "<%= @photo.caption %>"<br>
        Posted by <%= @photo.user.name %><br>
        <%= @photo.votes %> votes<br>
  </div>
</div>
